{% extends 'rango_app/base.html' %}
{% load static %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <div class="container">
    <h1 class="display-3"><strong>About Rango</strong></h1>
    <p class="lead">Rango book-marking site is a unique app that offers pages 
    embedded in various categories ranging from: fashion, lifestyle, cuisines, 
    blockbusters, and favourite delicacies. Hence the alias, Rango Page House!
    At Rango, you are free to browse, view, and like any categories and pages of 
    your choice.</p><p class="lead">
    Please sign up for an account, upload a profile photo if you so choose, 
    and get started adding pages and categories!</p>
    <p><i>Copyright - ©frankolum2021. All Rights Reserved.</i></p>
    <div>
        <img class="rangoimage" src ="{% static 'images/rangoone.png' %}"
        alt="picture of rango">
    </div>
</div>   
{% endblock %}